.article-about {
    padding: 0 15px;
    @include desktop-mode {
        padding-top: 75px;
    }
}

.about-container {
    @include desktop-mode {
        width: 750px;
        padding: 0 15px;
    }
}

.entry-header {
    @include desktop-mode {
        padding: 0 30px;
    }
}

.entry-content {
    @include desktop-mode {
        padding: 0 30px;
    }
}