.article-about {
    padding-top: 20px;
}

.about-container {
    padding-top: 75px;
}

.entry-header {
    @include desktop-mode {
        padding: 0 30px;
    }
}

.entry-content {
    @include desktop-mode {
        padding: 0 30px;
    }
}