.archives-content-author,
.archives-content-categories,
.archives-content-tags {
    display: flex;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        padding-right: 30px;
        line-height: 30px;
    }
}

.arch-header {
    border-bottom: 1px dotted $white;
}

.arch-content {
    border-bottom: 1px dotted $white;
    h2, p {
        font-size: 20px;
        font-weight: 300;
    }
}