.site-footer {
    margin-top: 100px;
}

.footer-content {
    padding: 0 15px;
    @include tablet-mode {
        display: flex;
        align-items: flex-end;
    }
    @include desktop-mode {
        justify-content: flex-end;
        padding: 0 50px;
    }
}

.credits {
    @include tablet-mode {
        padding-left: 15px;
    }
}

.menu-the-menu-container {
    .menu {
        display: flex;
        margin-left: 0;
        padding: 0;
        list-style: none;
        .menu-item {
            &:not(:first-child) {
                padding: 0 0 0 15px;
            }
            &:not(:last-child) {
                border-right: 1px solid $white;
            }
            @include tablet-mode {
                border-right: 1px solid $white;
            }
            a {
                padding-right: 15px;
                text-decoration: none;
            }
        }
    }
}