.site-footer {
    margin-top: 100px;
}

.footer-content {
    padding: 0 15px;
}

.menu-the-menu-container {
    .menu {
        display: flex;
        margin-left: 0;
        padding: 0;
        list-style: none;
        .menu-item {
            &:not(:first-child) {
                padding: 0 15px;
            }
            a {
                padding-right: 15px;
                text-decoration: none;
                border-right: 1px solid $white;
                &:not(:last-child) {
                    border-right: none;
                }
            }
        }
    }
}