.site-header {
    height: 60px;
    @include tablet-mode {
        height: 80px;
    }
    @include desktop-mode {
        height: 135px;
        display: flex;
        justify-content: center;
    }
}

.logo {
    background-image: url(../../images/qod-logo.svg);
    margin: 50px 0 0 15px;
    height: 100%;
    width: 320px;
    background-size: 100%;
    background-repeat: no-repeat;
    @include tablet-mode {
        width: 480px;
    }
    @include desktop-mode {
        width: 700px;
    }
}