.ajax-content {
    h2, p {
        font-size: 20px;
        font-weight: 300;
        @include desktop-mode {
            font-size: 36px;
        }
    }
    @include desktop-mode {
        width: 750px;
        text-align: left;
        padding: 75px 30px 0 30px;
    }
}

.article-home {
    padding: 0;

}

button {
    background-color: transparent;
    font-size: 16px;
    color: $green;
    text-shadow: none;
    box-shadow: none;
    border: 2px solid $green;
    padding: 10px 10px;
    width: 200px;
    font-family: Exo;
    font-weight: 300;
    &:visited, &:active {
        border: 2px solid $green;
    }
}