.ajax-content {
    h2, p {
        font-size: 20px;
        font-weight: 300;
        @include desktop-mode {
            font-size: 32px;
        }
    }
    @include desktop-mode {
        width: 750px;
        text-align: left;
        padding: 0 30px;
    }
}

.article-home {
    padding: 0;
}

.ajax-link {
    font-size: 16px;
    font-style: italic;
    @include desktop-mode {
        font-size: 28px;
        font-style: italic;
    }
}

button {
    background-color: transparent;
    font-size: 16px;
    color: $green;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    border: 2px solid $green;
    padding: 10px 10px;
    width: 200px;
    font-family: Exo;
    font-weight: 300;
    &:visited, &:active {
        border: 2px solid $green;
    }
    @include desktop-mode {
        margin: 0 auto;
    }
}