/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body {
    background-color: $background-color;
    a, a:visited {
        color: $green;
        font-family: Exo;
        font-weight: 300;
    }
}

article {
    padding: 0 15px;
    
    @include desktop-mode {
        display: flex;
        justify-content: center;
        &:before {
            content: "“";
            font-family: Exo;
            color: $green;
            font-size: 25rem;
            height: 0;
        }
        &:after {
            content: "”";
            font-family: Exo;
            color: $green;
            font-size: 25rem;
            height: 0;
        }
    }
}

.content-area-home {
    padding: 0 15px;
}

/* All Archives Page */

/* Submit a Quote Page */
