/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body {
    background-color: $background-color;
    a, a:visited {
        color: $green;
        font-family: Exo;
        font-weight: 300;
    }
}

article {
    padding: 0 15px;
}

/* All Archives Page */

/* Submit a Quote Page */
