.site-main-search {
    padding: 0 15px;
}

.page-header-search {
    border-bottom: 1px dotted $white;
}

.article-search {
    padding: 0;
}

.search-link {
    text-decoration: none;
    font-weight: 500;
}

.entry-summary-search {
    p {
        font-weight: 500;
    }
}

.number-pagination {
    padding-top: 25px;
}

.page-numbers {
    padding-right: 10px;
    text-decoration: none;
}

.page-numbers.current {
    color: $white;
}

.search-container {
    @include desktop-mode {
        width: 750px;
        padding: 0 30px;
    }
}