.quote-submit {
    font-family: Exo;
    font-weight: 300;
    color: $white;
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 15px;
    padding-bottom: 5px;
}

input {
    width: 225px;
    @include tablet-mode {
        width: 400px;
    }
}

#quote {
    height: 100px;
}

input, #quote {
    background-color: transparent;
    border: 2px solid $green;
    color: $white;
    // font-size: 14px;
}

#submit-quote {
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid $green;
    padding: 8px 10px;
    width: 150px;
    font-family: Exo;
    font-weight: 500;
    color: $green;
    font-size: 14px;
}

.q-bottom {
    padding-top: 25px;
}